.DS_Store
node_modules
/dist

/tests_output
chromedriver.log

tests/e2e/reports/
tests/e2e/screenshots/
tests/e2e/videos/
tests/eslint
tests/stylelint
tests/unit/coverage
tests/unit/reports

# Environment files
.env
.env.*
.env_*
aws-keys.json

# Environment files
.env
.env.*
.env_*

# Log files
npm-debug.log*
output.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
