/* RolledupExpenseTypeTable.vue */
#money-team {
  color: green;
}

/* Session Expired Timer */
.timer {
  margin-top: 10px;
}

.timer p {
  color: white;
}

.legend_style {
  padding-bottom: 0;
  padding-top: 0;
}

.footer-buttons {
  float: right;
}

.header_style {
  background-color: #bc3825;
  color: white;
  // border-radius: 5px;
}

.budget_header {
  background-color: #bc3825;
}

.expense_info_title {
  color: white;
}

.expense_info {
  color: black;
}

.reimburse_button {
  background-color: #bc3825 !important;
  color: white !important;
}

.table_color {
  background-color: #bc3825;
  opacity: 0.2;
}

.filter_color {
  background-color: #e9eef0 !important;
}

.nav-color {
  background-color: #565651 !important;
}

.inactiveStyle {
  //text-decoration: line-through red;
  color: #e60026;
}

.selectFocus {
  background-color: #f0f0f0;
}

//end of themes
.form_padding {
  padding-top: 20px;
}

.login_e {
  -webkit-animation: login-change 1s infinite alternate both;
  -moz-animation: login-change 10s infinite alternate both;
  -o-animation: login-change 10s infinite alternate both;
  -ms-animation: login-change 10s infinite alternate both;
  animation: login-change 5s infinite alternate both;
}

@-webkit-keyframes login-change {
  0% {
    color: #3f3f3c;
  }

  100% {
    color: gold;
  }
}

@-moz-keyframes login-change {
  0% {
    color: #3f3f3c;
  }

  100% {
    color: gold;
  }
}

@-ms-keyframes login-change {
  0% {
    color: #3f3f3c;
  }

  100% {
    color: gold;
  }
}

@-o-keyframes login-change {
  0% {
    color: #3f3f3c;
  }

  100% {
    color: gold;
  }
}

@keyframes login-change {
  0% {
    color: #3f3f3c;
  }

  100% {
    color: gold;
  }
}
// .application--wrap > .container.fluid {
//   padding-right: 0;
// }
