$case-red: #bc3825;
$case-red-beta: #c23010;
$case-darkgray: #415364;

.case-red-text {
  color: $case-red !important;
}

.case-darkgray-text {
  color: $case-darkgray !important;
}

/* RolledupExpenseTypeTable.vue */
#money-team {
  color: green;
}

/* Session Expired Timer */
.timer {
  margin-top: 10px;
}

.timer p {
  color: white;
}

.legend_style {
  padding-bottom: 0;
  padding-top: 0;
}

.pointer {
  cursor: pointer;
}

.pointer-not-allowed {
  cursor: not-allowed;
}

.footer-buttons {
  float: right;
}

.header_style {
  /* border-radius: 5px; */
  background-color: $case-red;
  color: white;
  font-size: 16px;
  height: 70px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.beta_header_style {
  /* border-radius: 5px; */
  background-color: $case-red-beta;
  color: white;
  font-size: 16px;
  height: 45px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.reimburse_button {
  background-color: $case-red !important;
  color: white !important;
  fill: white !important;
  padding: 4px 2px;
}

.beta_reimburse_button {
  background-color: $case-red-beta !important;
  color: white !important;
  fill: white !important;
  padding: 4px 2px;
}

.home_buttons {
  color: $case-red !important;
  background-color: white !important;
  padding: 8px 8px;
  margin-bottom: 16px;
  border: 0.5px solid $case-red;
  border-radius: 5px;
  text-transform: uppercase;
  text-emphasis: bold;
  font-weight: bold;
}
.beta_home_buttons {
  color: $case-red-beta !important;
  background-color: white !important;
  padding: 8px 8px;
  margin-bottom: 16px;
  border: 0.5px solid $case-red;
  border-radius: 5px;
  text-transform: uppercase;
  text-emphasis: bold;
  font-weight: bold;
}

.table_color {
  background-color: $case-red;
  opacity: 0.2;
}

.filter_color {
  background-color: #eeeeee !important;
}

.nav-color {
  background-color: #415364 !important;
}

.user-circle {
  color: #565651;
}

.inactiveStyle {
  /* text-decoration: line-through red; */
  color: #e60026;
}

.selectFocus {
  background-color: #f0f0f0;
}

/* end of themes */
.form_padding {
  padding-top: 20px;
}

.fit-content {
  max-width: fit-content;
}

.login_e {
  -webkit-animation: login-change 1s infinite alternate both;
  -moz-animation: login-change 10s infinite alternate both;
  -o-animation: login-change 10s infinite alternate both;
  -ms-animation: login-change 10s infinite alternate both;
  animation: login-change 5s infinite alternate both;
}

@-webkit-keyframes login-change {
  0% {
    color: $case-darkgray;
  }

  100% {
    color: $case-red;
  }
}

@-moz-keyframes login-change {
  0% {
    color: $case-darkgray;
  }

  100% {
    color: $case-red;
  }
}

@-ms-keyframes login-change {
  0% {
    color: $case-darkgray;
  }

  100% {
    color: $case-red;
  }
}

@-o-keyframes login-change {
  0% {
    color: $case-darkgray;
  }

  100% {
    color: $case-red;
  }
}

@keyframes login-change {
  0% {
    color: $case-darkgray;
  }

  100% {
    color: $case-red;
  }
}

/* navigation color changing icon */
.iconSelected {
  -webkit-animation: color-change 1s infinite alternate both;
  -moz-animation: color-change 10s infinite alternate both;
  -o-animation: color-change 10s infinite alternate both;
  -ms-animation: color-change 10s infinite alternate both;
  animation: color-change 5s infinite alternate both;
}

@-webkit-keyframes color-change {
  0% {
    color: $case-darkgray;
  }

  100% {
    color: $case-red;
  }
}

@-moz-keyframes color-change {
  0% {
    color: $case-darkgray;
  }

  100% {
    color: $case-red;
  }
}

@-ms-keyframes color-change {
  0% {
    color: $case-darkgray;
  }

  100% {
    color: $case-red;
  }
}

@-o-keyframes color-change {
  0% {
    color: $case-darkgray;
  }

  100% {
    color: $case-red;
  }
}

@keyframes color-change {
  0% {
    color: $case-darkgray;
  }

  100% {
    color: $case-red;
  }
}

/* override the word break styling from v-card */
.v-card__text {
  word-break: normal;
}

.v-card__title {
  word-break: normal;
}

.font-25 {
  font-size: 25px;
}

.font-20 {
  font-size: 20px;
}

.font-16 {
  font-size: 16px;
}

.font-14 {
  font-size: 14px;
}

.font-13 {
  font-size: 13px;
  padding-top: inherit;
}

.white--text {
  fill: white;
}

.gray-icon {
  fill: #6a6a6a;
}

fieldset {
  border: 1.5px solid #cccc;
}

fieldset legend {
  font-size: 16px;
  font-weight: bold;
  margin-left: 20px;
  padding: 10px;
}

.flag p {
  font-weight: bold;
  width: 150px;
  display: inline-block;
}

.flag svg {
  margin-top: 5px;
}

.flagFilter {
  display: inline-block;
  margin: 20px;
}

.infoTab {
  color: #38424d;
}

#marks {
  width: auto;
  height: 1.5em;
}

.case-gray {
  color: $case-darkgray !important;
}

.no-decoration {
  text-decoration: none !important;
}

.form-text {
  color: #0000008a !important;
}

.w-70 {
  width: 70% !important;
}

.mw-50 {
  max-width: 50px !important;
}

.gray-border {
  border-style: solid;
  border-color: gray !important;
  border-width: 1px;
  padding: 0 15px;
  margin: -10px;
}

.grey-background {
  background: grey;
}

.italics {
  font-style: italic;
}

.groove {
  border-left-style: groove;
}
